.articleList {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.articlesListItem {
  width: 938px;
  height: 140px;
  box-shadow: 0 4px 12px 0 #00000026;
  border-radius: 10px;
  background: #ffffff;
}
